<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevTeam</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<style>
    
    body {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(35,9,121,1) 35%, rgba(0,212,255,1) 100%); 
    }
    .container {
        margin-top: 50px;
    }

    nav{
        margin-bottom: 50px;
        border-radius: 20px;
    }      

    div{
        border-radius: 20px;
        
    }
   

</style>

<body>
    <div class="container" >
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="./index.html">Inicio</a>
              <a class="navbar-brand" href="#">Empresa</a>
              <a class="navbar-brand" href="#">Empleado</a>
              <a class="navbar-brand" href="#">Movimiento</a> 
              <a class="navbar-brand" href="./developer.html">Developer Team</a> 

            </div>
        </nav>

        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-circle" src="./img/serrano.jfif" alt="Card image cap"> 
                    <div class="card-body">
                      <h5 class="card-title">Andres Serrano</h5>
                      <p class="card-text">Scrum Master</p>
                      <a href="./empresa.html" class="btn btn-primary">Ver</a>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./img/valencia.jfif" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Andres Valencia</h5>
                      <p class="card-text">Administrador de base de datos</p>
                      <a href="./empleado.html" class="btn btn-primary">Ver</a> 
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-circle" src="./img/saul.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Saul Echeverri</h5>
                      <p class="card-text">Desarrollador</p>
                      <a href="./movimiento.html" class="btn btn-primary">Ver</a> 
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./img/joseph.jfif" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Joseph Liev </h5>
                      <p class="card-text">Analista</p>
                      <a href="./movimiento.html" class="btn btn-primary">Ver</a> 
                    </div>
                  </div>
            </div>

            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./img/moises.jfif" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Moisés Castro</h5>
                      <p class="card-text">Desarrollador</p> 
                      <a href="./movimiento.html" class="btn btn-primary">Ver</a> 
                    </div>
                  </div>
            </div>

    </div>
</body>
</html>