<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Empleados - Ciclo3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<style>
    a{
    color:white;
    }
    a:hover {
    color: black;
    text-decoration:none;
    }
    nav{
        margin-bottom: 50px;
        border-radius: 20px;

    }
    body {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(35,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }
    .container {
        margin-top: 50px;
    }
    h1 {
        color: white;
        font-family: 'Times New Roman', Times, serif;

    }
    tr{
        color: white;

    }
</style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" class="btn btn-primary"><a th:href="@{/VerEmpresas}">Empresas</a></button>
            <button type="button" class="btn btn-primary"><a th:href="@{/VerEmpleados}">Empleados</a></button>
            <button type="button" class="btn btn-primary"><a th:href="@{/DeveloperTeam}">Developer Team</a></button>
            <button type="button" class="btn btn-primary"><a th:href="@{/VerMovimientos}">Movimientos</a></button>

        </div>
    </nav>

</div>


<div class="container">
    <p th:inline="text" class="text-right">User: [[${#httpServletRequest.remoteUser}]]</p>
    <button type="button" class="btn btn-danger" style="float:right"><a th:href="@{/logout}">Cerrar Sesión</a></button>

    <h1> Lista de Empleados</h1>
    <!--Dibujamos la tabla-->
    <br><table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Empresa</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Movimientos</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>

        <!--Llenamos la tabla dibujada-->
        <!--En nuestro controller, creamos en viewEmpleados un modelo con un atributo llamado emplelist donde esta guardada la lista de todos los empleados-->
        <tr th:each="empleado : ${emplelist}">
            <td th:text="${empleado.id}"></td>
            <td th:text="${empleado.nombre}"></td>
            <td th:text="${empleado.correo}"></td>
            <td th:text="${empleado.empresa.nombre}"></td>
            <td th:if="${empleado.rol=='ROLE_ADMIN'}">Administrativo</td>
            <td th:if="${empleado.rol=='ROLE_USER'}">Operativo</td>
            <td th:if="${empleado.estado==true}">Activo</td>
            <td th:if="${empleado.estado==false}">Inactivo</td>
            <td><button type="button" class="btn btn-info"><a th:href="@{/Empleado/{id}/Movimientos(id=${empleado.id})}">Ver</a></button></td>
            <td><button type="button" class="btn btn-warning"><a th:href="@{/EditarEmpleado/{id}(id=${empleado.id})}">Editar</a></button></td>
            <td><button type="button" class="btn btn-danger"><a th:href="@{/EliminarEmpleado/{id}(id=${empleado.id})}">Eliminar</a></button></td>
        </tr>
    </table>

    <!-- vamos a crear un boton que sirva para agregar nuevos empleados -->
    <button type="button" class="btn btn-info"><a th:href="@{/AgregarEmpleado}">Agregar Nuevo Empleado</a></button>
    <br><br>
    <!-- boton que me lleva a la lista de empresas -->
    <button type="button" class="btn btn-primary"><a th:href="@{/VerEmpresas}">Ver lista de Empresas</a></button>
</div>

<script th:inline="javascript">
    window.onload=function(){

        var msg= [[${mensaje}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Empleado registrado con éxito!")
            }
        else if (msg == "updateOK"){
            Command : toastr["success"]("Empleado actualizado con éxito!")
        }
        else if (msg == "deleteOK"){
            Command : toastr["error"]("Registro de empleado eliminado con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("Registro de empleado no ha sido eliminado!")
        }
        toastr.options={
            "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }


    }

</script>

</body>
</html>